<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="uk.ac.ncl.safecap.platform.category"
            class="uk.ac.ncl.safecap.capacity.views.BlockingTimeView"
            id="uk.ac.ncl.safecap.capacity.views.BlockingTimeView"
            name="Blocking Time Matrix"
            restorable="true">
      </view>
   </extension-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.ncl.safecap.capacity.actions.SimulateHandler"
            id="uk.ac.ncl.safecap.capacity.command1"
            name="Simulate">
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.capacity.heatmap.HeatmapActionHandler"
            id="uk.ac.ncl.safecap.navigator.heatmapHighlightsCommandID"
            name="HeatmapHighlight">
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.capacity.blockdiagram.BlockDiagramHandler"
            id="uk.ac.ncl.safecap.capacity.blockdiagramCommand"
            name="BlockDiagram">
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.capacity.actions.StatsHandler"
            id="uk.ac.ncl.safecap.capacity.commandStatsCollector"
            name="StatsCollector">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="uk.ac.ncl.safecap.simToolbar">
            <command
                  commandId="uk.ac.ncl.safecap.capacity.command1"
                  icon="icons/control_play.png"
                  style="push"
                  tooltip="Run simulator">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.capacity.commandStatsCollector"
                  icon="icons/control_play.png"
                  label="Statistical experiment"
                  style="push"
                  tooltip="Run statistical experiment">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="uk.ac.ncl.safecap.highlightingToolbar"
               label="Highlights">
            <command
                  commandId="uk.ac.ncl.safecap.navigator.heatmapHighlightsCommandID"
                  icon="icons/heatmap16.gif"
                  label="Heatmap"
                  style="push"
                  tooltip="Show heatmap">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="uk.ac.ncl.safecap.capacity.miscToolbar">
            <command
                  commandId="uk.ac.ncl.safecap.capacity.blockdiagramCommand"
                  icon="icons/blockdiagram.gif"
                  style="push"
                  tooltip="Show block diagram">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
