<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         id="VerificationAction"
         name="VerificationAction"
         point="org.eclipse.ui.actionSets">
         <action
               class="uk.ac.ncl.safecap.gui.verification.VerificationAction"
               icon="icons/verify32.gif"
               id="uk.ac.ncl.safecap.gui.verification.VerificationAction"
               toolbarPath="org.eclipse.debug.ui.launchActionSet"
               tooltip="Run verification tools">
    </action>
   </extension-->
   <!--extension
         point="org.eclipse.ui.editorActions">
         
         <editorContribution
            id="uk.ac.ncl.safecap.gui.verification.Verification"
            targetID="safecap.diagram.part.SafecapDiagramEditorID">
         <action
               class="uk.ac.ncl.safecap.gui.verification.VerificationAction"
               id="uk.ac.ncl.safecap.gui.verification.VerificationAction"
               label="Verification"
               style="push"
               toolbarPath="Normal/Tools">
         </action>
      </editorContribution>
   </extension-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.ncl.safecap.gui.verification.VerificationAction"
            id="uk.ac.ncl.safecap.gui.verification.verificationCommand1"
            name="Verify">
         <commandParameter
               id="uk.ac.ncl.safecap.gui.verification.commandParameter1"
               name="profile"
               optional="false"
               values="uk.ac.ncl.safecap.gui.verification.VerificationCommandParameter">
         </commandParameter>
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.gui.verificationreplay.ReplayForward"
            id="uk.ac.ncl.safecap.gui.verificationreplay.ReplayForwardCommand"
            name="ReplayForward">
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.gui.verificationreplay.ReplayBack"
            id="uk.ac.ncl.safecap.gui.verificationreplay.ReplayBackCommand"
            name="ReplayBack">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="uk.ac.ncl.safecap.validationToolbar"
               label="Validation">
            <command
                  commandId="uk.ac.ncl.safecap.gui.verification.verificationCommand1"
                  icon="icons/verify16.gif"
                  id="uk.ac.ncl.safecap.gui.verification.toolbar.verificationCommand1"
                  label="Verify"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <!--control
              class="uk.ac.ncl.safecap.gui.verification.ComboToolbarContribution"
              id="uk.ac.ncl.safecap.gui.verification.toolbar.ComboContribution1">
            </control-->
         </toolbar>
         <!--toolbar
               id="uk.ac.ncl.safecap.replayToolbar"
               label="Counterexample replay">
            <command
                  commandId="uk.ac.ncl.safecap.gui.verificationreplay.ReplayBackCommand"
                  icon="icons/replay_backward.gif"
                  label="Replay backward"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.gui.verificationreplay.ReplayForwardCommand"
                  icon="icons/replay_forward.gif"
                  label="Replay forward"
                  style="push">
            </command>
         </toolbar-->
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:uk.ac.ncl.safecap.gui.verification.toolbar.verificationCommand1">
         <dynamic
               class="uk.ac.ncl.safecap.gui.verification.CurrentProfileVerificationActionContributionItem"
               id="uk.ac.ncl.safecap.gui.verification.dynamicCurrentProfile">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="safecap.diagram.part.SafecapDiagramEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </dynamic>
         <dynamic
               class="uk.ac.ncl.safecap.gui.verification.VerificationActionContributionItem"
               id="uk.ac.ncl.safecap.gui.verification.dynamic1">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="safecap.diagram.part.SafecapDiagramEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="uk.ac.ncl.safecap.gui.verification.ProfilePreferencePage"
            id="uk.ac.ncl.safecap.gui.verification.profilesPage"
            name="Verification Profiles">
      </page>
   </extension>
</plugin>
