<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            default-charset="UTF-8"
            file-extensions="contract,definition,configuration"
            id="uk.ac.ncl.safecap.textentry.type"
            name="text.entry"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="uk.ac.ncl.safecap.textentry.type"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editor
            class="org.eclipse.ui.internal.genericeditor.ExtensionBasedTextEditor"
            default="true"
            extensions="contract,definition,configuration"
            id="uk.ac.ncl.safecap.textentry.ui.editor"
            name="Configuration editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="uk.ac.ncl.safecap.textentry.editor.ProjectPresentationReconciler"
            contentType="uk.ac.ncl.safecap.textentry.type">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="uk.ac.ncl.safecap.textentry.editor.ProjectHoverProvider"
            contentType="uk.ac.ncl.safecap.textentry.type">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="uk.ac.ncl.safecap.textentry.editor.ProjectContentAssistProcessor"
            contentType="uk.ac.ncl.safecap.textentry.type">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="uk.ac.ncl.safecap.textentry.editor.ProjectAutoEditStrategy"
            contentType="uk.ac.ncl.safecap.textentry.type">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="uk.ac.ncl.safecap.textentry.editor.ProjectReconciler"
            contentType="uk.ac.ncl.safecap.textentry.type">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="uk.ac.ncl.safecap.textentry.editor.ValidatorDocumentSetupParticipant"
            contentTypeId="uk.ac.ncl.safecap.textentry.type"
            extensions="contract,definition,configuration">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.textentry.actions.GenericAction"
            id="uk.ac.ncl.safecap.textentry.ui.command.generic"
            name="TE generic action">
         <commandParameter
               id="uk.ac.ncl.safecap.textentry.ui.command.generic.action"
               name="action"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:uk.ac.ncl.safecap.navigator.main">
         <dynamic
               class="uk.ac.ncl.safecap.textentry.actions.GenericActionsContributor"
               id="uk.ac.ncl.safecap.textentry.ui.dynamic">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.definition">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="uk.ac.ncl.safecap.platform.newWizards"
            class="uk.ac.ncl.safecap.textentry.ui.wizards.ConfNewWizard"
            hasPages="true"
            icon="icons/paper.png"
            id="uk.ac.ncl.safecap.textentry.ui.wizard"
            name="Configuration">
      </wizard>
   </extension>

</plugin>
