<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="uk.ac.ncl.safecap.platform.category"
            class="uk.ac.ncl.safecap.navigator.SCNavigator"
            icon="icons/navigator_1_small.gif"
            id="uk.ac.ncl.safecap.navigator.main"
            name="Safecap Navigator">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="uk.ac.ncl.safecap.navigator.main">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>            
      <!--
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PortingActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkManagementActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkingSetActions">
            </actionExtension>
      -->
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="uk.ac.ncl.safecap.navigator.main">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="uk.ac.ncl.safecap.navigator.schemaNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="uk.ac.ncl.safecap.navigator.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.ncl.safecap.platform.perspective">
         <view
               id="uk.ac.ncl.safecap.navigator.main"
               ratio="0.5"
               relationship="left">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="uk.ac.ncl.safecap.railschemaContentProvider"
         name="Schema content provider"
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="uk.ac.ncl.safecap.navigator.schema.ContentProvider"
            icon="icons/alt_about.gif"
            id="uk.ac.ncl.safecap.navigator.schemaNavigatorContent"
            labelProvider="uk.ac.ncl.safecap.navigator.schema.LabelProvider"
            name="Schema Navigator Content"
            priority="highest">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="safecap">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="xmldata">
                  </test>
               </and>
               <instanceof
                     value="safecap.Labeled">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <!--instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof-->
            </or></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="safecap.Labeled">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="uk.ac.ncl.safecap.navigator.filters.HideNonSchemaFiles"
            description="Hide all non-schema file"
            id="uk.ac.ncl.safecap.navigator.filters.HideNonSchemaFiles"
            name="HideNonSchemaFiles"
            visibleInUI="false">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="uk.ac.ncl.safecap.navigator.filters.HideDirectSchemaFiles"
            description="Hide direct schema files"
            id="uk.ac.ncl.safecap.navigator.filters.HideDirectSchemaFiles"
            name="HideDirectSchemaFiles"
            visibleInUI="false">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="uk.ac.ncl.safecap.navigator.objectContributionLine"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
         <action
               class="uk.ac.ncl.safecap.navigator.actions.Genus"
               enablesFor="1"
               icon="icons/icon_line.gif"
               id="uk.ac.ncl.safecap.navigator.actionGenus"
               label="Genus"
               menubarPath="uk.ac.ncl.safecap.scripting">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="uk.ac.ncl.safecap.navigator.objectContribution2"
            objectClass="safecap.Visual">
         <action
               class="uk.ac.ncl.safecap.navigator.actions.Visibility"
               enablesFor="9999+"
               id="uk.ac.ncl.safecap.navigator.actionVisibility"
               label="Visible"
               menubarPath="uk.ac.ncl.safecap.scripting"
               state="true"
               style="toggle">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="uk.ac.ncl.safecap.navigator.objectContributionRename"
            objectClass="safecap.Labeled">
         <action
               class="uk.ac.ncl.safecap.navigator.actions.Rename"
               enablesFor="1"
               id="uk.ac.ncl.safecap.navigator.actionRename"
               label="Rename"
               menubarPath="uk.ac.ncl.safecap.scripting"
               state="true"
               style="push"
               tooltip="Rename this schema object">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="uk.ac.ncl.safecap.navigator.objectContributionCloneLine"
            objectClass="safecap.model.Line">
         <action
               class="uk.ac.ncl.safecap.navigator.actions.Clone"
               enablesFor="1"
               id="uk.ac.ncl.safecap.navigator.actionClone"
               label="Clone"
               menubarPath="uk.ac.ncl.safecap.scripting"
               state="true"
               style="push"
               tooltip="Rename this schema object">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="uk.ac.ncl.safecap.navigator.objectContributionDelete"
            objectClass="safecap.Labeled">
         <action
               class="uk.ac.ncl.safecap.navigator.actions.Delete"
               enablesFor="1"
               id="uk.ac.ncl.safecap.navigator.actionDelete"
               label="Delete"
               menubarPath="uk.ac.ncl.safecap.scripting"
               state="true"
               style="push"
               tooltip="Delete this schema object">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="uk.ac.ncl.safecap.navigator.objectContributionFillLineAttachment"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
         <menu
               id="uk.ac.ncl.safecap.navigator.overlaps"
               label="Overlaps">
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="uk.ac.ncl.safecap.navigator.objectContributionResetLines"
            nameFilter="*.safecap"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="uk.ac.ncl.safecap.navigator.actions.RecalculateLines"
               enablesFor="1"
               id="uk.ac.ncl.safecap.navigator.actionClone"
               label="Recalculate Lines"
               menubarPath="uk.ac.ncl.safecap.projectlevel"
               state="true"
               style="push"
               tooltip="Remove all existing lines and calculate a minimal complete set of lines">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="uk.ac.ncl.safecap.navigator.objectContributionResetRoutesAndLines"
            nameFilter="*.safecap"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="uk.ac.ncl.safecap.navigator.actions.RecalculateRoutesLines"
               enablesFor="1"
               id="uk.ac.ncl.safecap.navigator.actionClone"
               label="Recalculate Routes and Lines"
               menubarPath="uk.ac.ncl.safecap.projectlevel"
               state="true"
               style="push"
               tooltip="Remove all existing routes and lines and calculate a minimal complete set">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="uk.ac.ncl.safecap.highlightingToolbar"
               label="Highlights">
            <command
                  commandId="uk.ac.ncl.safecap.navigator.resetHighlightsCommandID"
                  icon="icons/default_colors16.gif"
                  label="Reset"
                  style="push"
                  tooltip="Reset schema colors">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="uk.ac.ncl.safecap.navigator.main">
         <propertyCategory
               category="main">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="uk.ac.ncl.safecap.navigator.main">
         <propertyTab
               category="main"
               id="uk.ac.ncl.safecap.navigator.propertyTabTrafficMix"
               label="Traffic Mix">
         </propertyTab>
         <propertyTab
               category="main"
               id="uk.ac.ncl.safecap.navigator.propertyTabHeightMap"
               label="Height Map">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="uk.ac.ncl.safecap.navigator.main">
         <propertySection
               class="uk.ac.ncl.safecap.navigator.property.TrafficPropertySection"
               id="uk.ac.ncl.safecap.navigator.propertySectionTraffic"
               tab="uk.ac.ncl.safecap.navigator.propertyTabTrafficMix">
            <input
                  type="safecap.model.Line">
            </input>
         </propertySection>
         <propertySection
               class="uk.ac.ncl.safecap.diagram.heightmap.SimpleHeightmapPropertySection"
               id="uk.ac.ncl.safecap.navigator.propertySectionHeightmap"
               tab="uk.ac.ncl.safecap.navigator.propertyTabHeightMap">
            <input
                  type="safecap.model.Line">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
