<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="uk.ac.ncl.safecap.diagram.misc.category"
            name="Diagram Actions">
      </category>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.FillAmbitNames"
            id="uk.ac.ncl.safecap.diagram.misc.commandFillAmbits "
            name="Fill ambit labels">
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.AutoRoutes"
            id="uk.ac.ncl.safecap.diagram.misc.commandAutoRoutes"
            name="Auto route allocation">
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.RouteSync"
            id="uk.ac.ncl.safecap.diagram.misc.commandRouteSync"
            name="Route synchronisation">
			<state
        		class="org.eclipse.ui.handlers.RegistryToggleState:false"
         		id="org.eclipse.ui.commands.toggleState">
			</state>             
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.PointCrossoverDetection"
            id="uk.ac.ncl.safecap.diagram.misc.commandPointCrossDet"
            name="Point and crossing detection">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.CreateVersion"
            id="uk.ac.ncl.safecap.diagram.misc.commandCreateVersion"
            name="Create new version">
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.ImportRoutes"
            id="uk.ac.ncl.safecap.diagram.misc.commandImportRoutes"
            name="Import route definitions">
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.OGExport"
            id="uk.ac.ncl.safecap.diagram.misc.commandOG"
            name="Export Order Graph">
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.Obfuscate"
            id="uk.ac.ncl.safecap.diagram.misc.commandObfuscate"
            name="Obfuscate">
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.OverlapsGenerate"
            id="uk.ac.ncl.safecap.diagram.misc.commandOverlapsGenerate"
            name="Generate overlaps">
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.ResetHighlightsHandler"
            id="uk.ac.ncl.safecap.navigator.resetHighlightsCommandID"
            name="ResetHighlight">
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.OverlapAdd"
            id="uk.ac.ncl.safecap.navigator.overlap.add"
            name="OverlapAdd">
         <commandParameter
               id="uk.ac.ncl.safecap.navigator.overlap.add.param.signal"
               name="OverlapParam"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.OverlapDelete"
            id="uk.ac.ncl.safecap.navigator.overlap.delete"
            name="OverlapDelete">
         <commandParameter
               id="uk.ac.ncl.safecap.navigator.overlap.delete.param.signal"
               name="OverlapDelete"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.gui.trainconfig.ServicePatternsHandler"
            id="uk.ac.ncl.safecap.gui.verification.ServicePatternsCommand"
            name="ServicePatterns">
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.gui.trainconfig.TrainTypesHandler"
            id="uk.ac.ncl.safecap.gui.verification.TrainTypesCommand"
            name="TrainTable">
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.category"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.BuildOG"
            id="uk.ac.ncl.safecap.diagram.misc.buildOG"
            name="Build OG">
      </command>
      <command
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.actions.OverlapCustom"
            id="uk.ac.ncl.safecap.navigator.overlap.custom"
            name="OverlapCustom">
         <commandParameter
               id="uk.ac.ncl.safecap.navigator.overlap.delete.param.signal"
               name="OverlapDelete"
               optional="true">
         </commandParameter>
      </command>
      <category
            id="uk.ac.ncl.safecap.diagram.misc.filter"
            name="Diagram Filters">
      </category>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.filter"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.diagramfilters.FilterNodeLabel"
            id="uk.ac.ncl.safecap.diagram.misc.diagconf.nodelabel"
            name="Node Label Filter">
             <state
        		 class="org.eclipse.ui.handlers.RegistryToggleState:true"
        		 id="org.eclipse.ui.commands.toggleState">
  			 </state>
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.filter"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.diagramfilters.FilterPlatform"
            id="uk.ac.ncl.safecap.diagram.misc.diagconf.platform"
            name="Platform Filter">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.filter"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.diagramfilters.FilterSpeedLimit"
            id="uk.ac.ncl.safecap.diagram.misc.diagconf.speedlimit"
            name="Speed Limit Filter">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.filter"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.diagramfilters.FilterTrackLabel"
            id="uk.ac.ncl.safecap.diagram.misc.diagconf.tracklabel"
            name="Track Label Filter">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.filter"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.diagramfilters.FilterTrackSU"
            id="uk.ac.ncl.safecap.diagram.misc.diagconf.tracksu"
            name="Track SU Filter">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.filter"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.diagramfilters.FilterSignal"
            id="uk.ac.ncl.safecap.diagram.misc.diagconf.signal"
            name="Signal Filter">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="uk.ac.ncl.safecap.diagram.misc.filter"
            defaultHandler="uk.ac.ncl.safecap.diagram.misc.diagramfilters.FilterMarker"
            id="uk.ac.ncl.safecap.diagram.misc.diagconf.marker"
            name="Marker Filter">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="uk.ac.ncl.safecap.diagram.misc.toolbarAutoFill"
               label="Diagram actions">
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.commandCreateVersion"
                  icon="icons/if_copy_43761.png"
                  label="Create new version"
                  style="push"
                  tooltip="Create a new schema version by copying the current contents">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeEditorId">
                        <equals
                              value="safecap.diagram.part.SafecapDiagramEditorID">
                        </equals>
                     </with>
                     <with
                           variable="activeEditorId">
                        <equals
                              value="uk.ac.ncl.safecap.xmldata.editors.XmlDataEditor">
                        </equals>
                     </with>
                     <with
                           variable="activeEditorId">
                        <equals
                              value="uk.ac.ncl.safecap.xdata.verification.ui.editor">
                        </equals>
                     </with>
                     <with
                           variable="activeEditorId">
                        <equals
                              value="uk.ac.ncl.safecap.textentry.ui.editor">
                        </equals>
                     </with></or>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.commandImportRoutes"
                  icon="icons/icon_route.gif"
                  label="Import route definitions"
                  style="push"
                  tooltip="Import route definitions from .csv file">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="safecap.diagram.part.SafecapDiagramEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
         <!--
         <toolbar
               id="uk.ac.ncl.safecap.configurationToolbar"
               label="Configuration">
            <command
                  commandId="uk.ac.ncl.safecap.gui.verification.TrainTypesCommand"
                  icon="icons/traintable16.gif"
                  label="Train table"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.gui.verification.ServicePatternsCommand"
                  icon="icons/servicepattern16.gif"
                  label="Service patterns"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="safecap.diagram.part.SafecapDiagramEditorID_2">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
         <toolbar
               id="uk.ac.ncl.safecap.diagram.misc.toolbarOther"
               label="Diagram actions, extended">
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.commandFillAmbits "
                  icon="icons/pencil.gif"
                  label="Fill ambit labels"
                  style="push"
                  tooltip="Generate missing ambit labels">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.commandAutoRoutes"
                  icon="icons/signalling.gif"
                  label="Auto route allocation"
                  style="push"
                  tooltip="Recalculate route allocation (removes existing routes and lines)">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.commandRouteSync"
                  icon="icons/sync.gif"
                  label="Sync routes"
                  style="toggle"
                  tooltip="Automatically reconstruct route and line models from schema signals and boundary nodes">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.commandPointCrossDet"
                  icon="icons/sync_1.gif"
                  label="Detect points and crossings"
                  style="toggle"
                  tooltip="When enabled, reverse and normal point branches and also paths through a crossing  are computed from the current graphical layout">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.commandOG"
                  icon="icons/database.png"
                  label="Export Order Graph"
                  style="push"
                  tooltip="Export OG (experimental)">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.commandObfuscate"
                  icon="icons/edit-history-3s.png"
                  label="Obfuscate"
                  style="push"
                  tooltip="Obfuscate all diagram labels">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.commandOverlapsGenerate"
                  label="G.Ovl"
                  style="push"
                  tooltip="Generate overlaps">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.buildOG"
                  icon="icons/og.png"
                  label="Export Order Graph"
                  style="push"
                  tooltip="Export OG (experimental)">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="true">
               <test
                     args="ss"
                     property="uk.ac.ncl.safecap.diagram.misc.test1"
                     value="ss">
               </test>
            </visibleWhen>
         </toolbar>
         -->
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="Overlaps"
               label="Overlaps">
            <dynamic
                  class="uk.ac.ncl.safecap.diagram.misc.actions.OverlapsDynamicMenu"
                  id="uk.ac.ncl.safecap.navigator.overlaps.dynamic">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <instanceof
                                 value="safecap.diagram.edit.parts.NodeEditPart">
                           </instanceof>
                        </iterate>
                     </with>
                  </or>
               </visibleWhen>
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar:org.eclipse.ui.main.toolbar"
               label="Diagram filters">
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.diagconf.nodelabel"
                  icon="icons/icon_point2.gif"
                  label="Point"
                  style="toggle"
                  tooltip="Hide point, diamond, edge and buffer stop labels">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.diagconf.platform"
                  icon="icons/LeftStopAndGo.gif"
                  label="Stop"
                  style="toggle"
                  tooltip="Filter out stopping point markers">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.diagconf.signal"
                  icon="icons/RightSignal.gif"
                  label="Signal"
                  style="toggle"
                  tooltip="Filter out signals and block markers">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.diagconf.speedlimit"
                  icon="icons/LeftSpeedLimit.gif"
                  label="Speed"
                  style="toggle"
                  tooltip="Filter out speed limit signs">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.diagconf.tracklabel"
                  icon="icons/icon_ambit.gif"
                  label="Track"
                  style="toggle"
                  tooltip="Hide section labels">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.diagconf.tracksu"
                  icon="icons/icon_su.gif"
                  label="SR"
                  style="toggle"
                  tooltip="Hide sub route markers">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.diagram.misc.diagconf.marker"
                  icon="icons/icon_aws.gif"
                  label="AWS"
                  style="toggle"
                  tooltip="Filter out AWSs, TPWSs and Balises">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="safecap.diagram.part.SafecapDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="uk.ac.ncl.safecap.diagram.misc.simulation"
               label="Simulation">
            <command
                  commandId="uk.ac.ncl.safecap.gui.verification.ServicePatternsCommand"
                  icon="icons/servicepattern16.gif"
                  style="push"
                  tooltip="Define service patterns">
            </command>
            <command
                  commandId="uk.ac.ncl.safecap.gui.verification.TrainTypesCommand"
                  icon="icons/traintable16.gif"
                  style="push"
                  tooltip="Define train types">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   

</plugin>
