<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="uk.ac.ncl.safecap.platform.category"
            class="uk.ac.ncl.safecap.controltable.views.ControlTable"
            icon="icons/control_table.gif"
            id="uk.ac.ncl.safecap.controltable.main"
            name="Control Table"
            restorable="true">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="uk.ac.ncl.safecap.diagram.misc.viewContributionControlTable"
            targetID="uk.ac.ncl.safecap.controltable.main">
         <action
               class="uk.ac.ncl.safecap.controltable.ComputeTableAction2"
               icon="icons/control_table_update2.gif"
               id="uk.ac.ncl.safecap.controltable.computeTableAction2"
               label="Compute table (custom aspects)"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="uk.ac.ncl.safecap.controltable.ComputeTableAction"
               icon="icons/control_table_update.gif"
               id="uk.ac.ncl.safecap.controltable.computeTableAction"
               label="Compute table"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="uk.ac.ncl.safecap.platform.perspective">
          <view
                id="uk.ac.ncl.safecap.controltable.main"
                ratio="0.5"
                relationship="bottom">
          </view>
       </perspectiveExtension>
    </extension>
</plugin>
