<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="uk.ac.ncl.safecap.gui.toolpaths.ToolPathPreferencePage"
            id="uk.ac.ncl.safecap.gui.toolpaths.toolpathpage1"
            name="Verification Tool Paths">
      </page>
   </extension>
</plugin>
